# Configuration file

general {
    B:canGemsMakeSounds=true
    B:canRebel=true
    B:displayNames=true
    I:floatingPeaksWeight=1
    B:instructInjectors=true
    I:kindergartenWeight=1
    I:meteorRubyRate=10
    B:notifyOnUpdates=false
    S:ruinDimensions=0
    B:spawnMeteorRubies=true
    I:strawberryBattlefieldWeight=1
    B:useMetrics=true
}


